<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="peaberry">

   <targetJRE>
      <execEnv>J2SE-1.5</execEnv>
   </targetJRE>

   <location path="${workspace_loc:/peaberry/lib/build}"/>

   <content useAllPlugins="true">
      <plugins>
         <plugin id="aopalliance"/>
         <plugin id="com.google.inject"/>
         <plugin id="org.eclipse.core.runtime.compatibility"/>
         <plugin id="org.eclipse.equinox.common"/>
         <plugin id="org.eclipse.equinox.registry"/>
         <plugin id="org.eclipse.osgi"/>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${eclipse_home}/plugins"/>
      </extraLocations>
   </content>

</target>
